{% extends 'base.html' %}
{% load static %}
{% block title %}Daftar Peminjam{% endblock %}
{% block content %}

{% include 'header.html' %}

<!--  bagian atas -->
<div class="container p-5">
    <h1 class="text-center">
        Daftar Peminjam Buku
    </h1>
</div>
<!--  tabel -->
<div  class="mx-auto" style="width: 90%">
<table class="table table-striped table-bordered" id="tabel-user">
    

</table>
</div>



<script>
    function updateDisplay(){
       fetch("{% url 'daftar_peminjam:get_all_user_json' %}").then(
        response => response.json()
       ).then(
        data => {
            var i = 1;
            var isiTable = 
            `<tr>
                <th>No</th>
                <th>Username</th>
                <th>Jumlah Buku Dipinjam</th>
                <th>Tanggal Kembali Paling Awal</th>
                <th>Denda</th>
                <th>Aksi</th>
            </tr>`;
            data.forEach(function(user){
                isiTable += "<tr>";
                isiTable += "<td>" + i + "</td>";
                isiTable += "<td>" + user.username + "</td>";
                isiTable += "<td>" + user.jumlah_buku_dipinjam + "</td>";
                isiTable += "<td>" + user.pengembalian_paling_awal + "</td>";
                isiTable += "<td>" + user.denda + "</td>";
                isiTable += "<td>" + "<button>lol</button>" + "</td>";
                isiTable += "</tr>"
                i++;
            });
            document.getElementById("tabel-user").innerHTML = isiTable;
            console.log(isiTable);
        }
       );
    }
    updateDisplay();



</script>

{% include 'footer.html' %}
{% endblock %}